<% provide(:title, "About") %>
<h1>About <%= link_to 'MyFavArtists', root_path %></h1>
<p>
  <em>MyFavArtists</em> was created by someone learning how to code via <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  Note that at this point, all artist/concert info was hard coded into the website/database. Therefore, there may be trascription errors ¯\_(ツ)_/¯.
</p>
