<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 artist_div" id="<%=artist.name_stage.parameterize.underscore %>" >
  <div class="row">
    <div class="col justify-content-center">
      <figure>
        <figcaption>
          <%= link_to artist.name_stage, artist_path(artist) %>
        </figcaption>
        <%= link_to(image_tag(artist.avatar.url(:square)), artist_path(artist)) %>
        <% if logged_in? %>
            <%= render partial: 'artists/follow_form', locals: { artist: artist } %>
        <% end %>
        <br/>
      </figure>
    </div><!--col-->
  </div><!--row-->
  <br>
</div><!--col-->

