<div class="col artist_div">
  <div>
    <figure>
      <%= image_tag artist.avatar.url(:square) %>
      <figcaption>
        <%= link_to artist.name_stage, artist_path(artist) %>
      </figcaption>
    </figure>
  </div>
  <br>
</div>
