<div class="col artist_div">
  <div>
    <figure>
      <%= link_to(image_tag(artist.avatar.url(:square)), artist_path(artist)) %>
      <figcaption>
        <%= link_to artist.name_stage, artist_path(artist) %>
      </figcaption>
    </figure>
  </div>
  <br>
</div>
