<div class="row">

  <div class="col-12" id="sort_alphabetically">
    <%= sortable_artist(request.url, "name_stage", "Artist", "Sort alphabetically") %>
  </div>
  <% if logged_in? && current_user.admin? %>
      <div class="col-12" id="sort_by_id">
        <%# https://stackoverflow.com/questions/12360148/rails-link-to-or-button-to-post-request-with-parameters %>
        <%# button_to "Sort by ID", "/artists", method: :get, params: { sort: "id", direction: "asc" } %>
        <%= sortable_artist(request.url, "id", "Artist", "Sort by ID") %>
      </div>
  <% end %>
</div>

<div class ="row artists_container pagination_list" id="all_artists">

  <!--Here Rails infers that @artists is a list of artist objects; moreover, when called with a collection of artists,
  Rails automatically iterates through them and renders each one with the _artist.html.erb partial (inferring
  the name of the partial from the name of the class). Bsically as if the code ahs a artist.each do loop -->

  <%= render @artists %>

  <% # http://railscasts.com/episodes/136-jquery-ajax-revised?autoplay=true %>

</div>

<%= will_paginate %>