<% provide(:title, 'All users') %>

<h1>All artists</h1>
<div class ="row artists_container pagination_list">

  <!--Here Rails infers that @artists is a list of artist objects; moreover, when called with a collection of artists,
  Rails automatically iterates through them and renders each one with the _artist.html.erb partial (inferring
  the name of the partial from the name of the class). Bsically as if the code ahs a artist.each do loop -->
  <%= render @artists %>

</div>
<%= will_paginate %>

