<h4>Past Shows</h4>
<% if @artist_concerts_past.any? %>
    <ul class="artist_concerts">
      <%= render @artist_concerts_past %>
    </ul>
    <%= will_paginate @artist_concerts_past %>

    <% else %>
    <p>No past shows in our database.</p>
<% end %>