<% if @artist_concerts.any? %>
    <ul class="microposts">
      <%= render @artist_concerts %>
    </ul>
    <%= will_paginate @artist_concerts %>

    <% else %>
    <p>No shows scheduled at this time.</p>
<% end %>