<div class="row">
  <div class="col-12" id="sort_concert_by_date">
    <%= sortable_concert(request.url, "dateandtime", "Concert", "Sort by date") %>
  </div>
  <div class="col-12" id="sort_concert_alphabetically_by_artist">
    <%= sortable_concert(request.url, "name_stage", "Artist", "Sort alphabetically (artist)") %>
  </div>
</div>

<ul class="row concerts_container pagination_list">
  <%= render @concerts %>
</ul>