<div class="row">
  <div class ="col-md-10 col-md-offset-1">
    <div id="concert_link">
      <li>
        <%= link_to linkTitleGenerator(concert), concert_path(concert) %>
      </li>
    </div>
  </div>
</div>