<div class ="col-sm-12 col-md-8 col-md-offset-2 concert_list_item">
  <div id="concert_link">
    <li>
      <%= link_to linkTitleGenerator(concert), concert_path(concert) %>
    </li>
  </div>
</div>
