<% provide(:title, 'Upcoming Concerts') %>

<div class="add_album">
  <%= button_to "Add new concert", new_concert_path, method: 'get', id: "new_concert_link", remote: true %>
</div>

<div class="row pagination_list" id="upcoming_concerts">
  <h1>Upcoming Concerts</h1>


  <%= will_paginate %>

  <!--Here Rails infers that @users is a list of User objects; moreover, when called with a collection of users,
  Rails automatically iterates through them and renders each one with the _user.html.erb partial (inferring
  the name of the partial from the name of the class). Bsically as if the code ahs a user.each do loop -->
  <ul class="concerts">
    <%= render @concerts %>
  </ul>
</div>
<div class="row">
  <%= will_paginate %>
</div>

