<div class="col album_div">
  <div>
    <figure style="float: top">
        <%= link_to(image_tag(album.album_cover.url(:square)), album_path(album)) %>
        <figcaption>
          <%= link_to linkAlbumGenerator(album), album_path(album) %>
        </figcaption>
      </figure>
  </div>
</div>
