<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 album_div" id="<%=album.name.parameterize.underscore %>" >
  <div class="row">
    <div class="col justify-content-center">
      <figure>
        <%= link_to(image_tag(album.album_cover.url(:square)), album_path(album)) %>
        <figcaption>
          <%= link_to linkAlbumGenerator(album), album_path(album) %>
        </figcaption>
      </figure>
    </div><!--col-->
  </div><!--row-->
  <br>
</div><!--col-->
