<div class="col album_div">
  <div>
    <figure style="float: top">
        <%= image_tag album.album_cover.url(:square) %>
        <figcaption>
          <%= link_to linkAlbumGenerator(album), album_path(album) %>
        </figcaption>
      </figure>
  </div>
</div>
