<% provide(:title, 'All albums') %>

<div class="add_album">
  <%= button_to "Add new album", new_album_path, method: 'get', id: "new_album_link", remote: true %>
</div>

<h1>All albums</h1>
<div class ="row albums_container pagination_list" id="all_albums">

  <!--Here Rails infers that @albums is a list of album objects; moreover, when called with a collection of albums,
  Rails automatically iterates through them and renders each one with the _album.html.erb partial (inferring
  the name of the partial from the name of the class). Basically as if the code has a album.each do loop -->
  <%= render @albums %>

</div>
<%= will_paginate %>
