@import "bootstrap-sprockets";
@import "bootstrap";


/* variables and mixins */

$light-gray: #777;
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
  font-family:"Trebuchet MS";
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* header */

header {
  //font-size: 1.2em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #029bc9;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  /* & is reference to parent logo. this is nested writing per 5.2.2 of Ruby on Rails Tutorial */
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/*
#kanye {
  display: block;
  margin-left: -35px;
}

*/

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  @include box_sizing;
}

input{
  height: auto !important;
}

#error_explanation{
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors{
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10 px;
  span{
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* artists */

.artists{
  //font-size: 1vw;
}

// https://internetingishard.com/html-and-css/flexbox/
.artists_containter {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.artist_div{
  display: inline-flex;
  width: 200px;
}

.artist_div + .artist_div{
  margin-left: 15px;
}

#artist_name{
  font-size: 2em;
}

.artist_upcoming_shows{

}

.artist_albums{

}

/* concerts */
.concert_info_first_line{
  font-size: 2em;
}

.concert_info_second_line{
  font-size: 1.5em;
}

#concert_link{
  font-size: 1.2em;
}



/*albums */
.albums{
  //font-size: 1.2em;
}

// https://internetingishard.com/html-and-css/flexbox/
.albums_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.album_div{
  display: inline-flex;
  width: 200px;

}

//https://stackoverflow.com/questions/8184958/add-space-between-html-elements-only-using-css
//.album_div + .album_div{
//  margin-left: 15px;
//}

.album_info_first_line{

}

.album_info_second_line{

}

.album_info_third_line {

}

/* errors */
.field_with_errors {
  display: inline;
  margin: 0 auto;
}

.field_with_errors .message {
  color: #D00;
  padding-left: 5px;
  font-size: 12px;
}

/* pagination */
.pagination {
  margin: 0 auto;
  display: table;
}

/* figures */
//figure {
//  display:table;
//}
figure figcaption {
  text-align: center;
}
//figure img {
//  display:table-cell;
//  float: left;
//}

/* ul margin top */

ul {
  margin-top: 15px;
}




/*container */

//.container {
//  display: flex;
//}

/* centered lists

ul {
  text-align: center;
}

ol {
  text-align: center;
}

li {
  display: inline-block;
}

*/